

html {
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#sky {
  height: 100vw;
  width: 100%;
  position: relative;
}

#stop_gradient_top {
  stop-color: rgba(233, 169, 250, 1);
}




