

html {
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#sky {
  height: 100vw;
  width: 100%;
  position: relative;
}

#stop_gradient_top {
  animation: mymove 5s infinite;
}



@keyframes mymove {
  from {
    background-color: red;
  }

  to {
    background-color: blue;
  }
}


